@import "./variable";

$logo-text-size: 24px;

/* Logo */
.logoName1{
    color: $main-c1;
    font-size: $logo-text-size;
    padding-top: 7px;
}

.logoName2{
    color: $main-c2;
    font-size: $logo-text-size;
}