/* colours */
$main-c1: #000;
$main-c2: #f7d513;

/* Tailwind colors */
$clr-slate-50: #f8fafc;
$clr-slate-100: #f1f5f9;
$clr-slate-200: #e2e8f0;
$clr-slate-300: #cbd5e1;
$clr-slate-400: #94a3b8;
$clr-slate-500: #64748b;
$clr-slate-600: #475569;
$clr-slate-700: #334155;
$clr-slate-800: #1e293b;
$clr-slate-900: #0f172a;

$clr-gray-50: #f9fafb;
$clr-gray-100: #f3f4f6;
$clr-gray-200: #e5e7eb;
$clr-gray-300: #d1d5db;
$clr-gray-400: #9ca3af;
$clr-gray-500: #6b7280;
$clr-gray-600: #4b5563;
$clr-gray-700: #374151;
$clr-gray-800: #1f2937;
$clr-gray-900: #111827;