<header class="header sticky top-0 bg-white shadow-md flex items-center justify-between px-8 py-02">
    <!-- logo -->
    <h1 class="w-3/12">
        <div class="auto-rows-auto">
            <p class="text-2xl">Digital <strong class="text-rose-700">Expose</strong></p>
        </div>
    </h1>

    <!-- navigation -->
    <nav class="nav font-semibold text-lg">
        <ul class="flex items-center">
            <li class="p-4 border-b-2 border-rose-700 border-opacity-0 hover:border-opacity-100 hover:text-rose-700 duration-200 cursor-pointer active">
              <a href="">Accueil</a>
            </li>
            <li class="p-4 border-b-2 border-rose-700 border-opacity-0 hover:border-opacity-100 hover:text-rose-700 duration-200 cursor-pointer">
              <a href="">Produits</a>
            </li>
            <li class="p-4 border-b-2 border-rose-700 border-opacity-0 hover:border-opacity-100 hover:text-rose-700 duration-200 cursor-pointer">
              <a href="">Collections</a>
            </li>
            <li class="p-4 border-b-2 border-rose-700 border-opacity-0 hover:border-opacity-100 hover:text-rose-700 duration-200 cursor-pointer">
              <a href="">Contact</a>
            </li>
        </ul>
    </nav>

    <!-- buttons --->
    <div class="w-3/12 flex justify-end">

    </div>
</header>